/* ---------------------------------------- */
/* --------------- GLOBAL ----------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong { font-weight: bolder; }

body {
  background-color: rgb(242 242 242);
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  border: 0.5px solid #a4a4a4;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

button { cursor: pointer; }
button:hover { opacity: 0.5; }

/* ---------------------------------------- */
/* ------------ MAIN CANVAS --------------- */

canvas#output,
canvas#pattern-canvas,
pre#output {
  font-family: 'JetBrainsMono Nerd Font Mono', 'Noto Sans Thai';
  line-height: 1.25;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: none;
  margin-top: 20px;
  font-size: 12px;
  position: relative;
}

.icon { margin-right: 1rem; }

.icon-title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.picker {
  display: inline-block;
  position: absolute;
  z-index: 99;
  transform: translateY(20px);
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}

.hide { display: none !important; }



/* -------------------------------------------------- */
/* ------------ UTILS (tailwind-like) --------------- */

.mb-4 { margin-bottom: 1rem; }
.h-0 { height: 0; }
.gap-4 { grid-gap: 4px;}
.flex { display: flex;}
.flex-wrap { flex-wrap: wrap;}
.flex-col { flex-direction: column;}

.canvas-container {
  position: relative;
  opacity: 0;
  transition: 600ms;
}

/* -------------------------------------------------- */
/* --------------- MAIN GRID LAYOUT ----------------- */

.grid {
  display: grid;
  width: 100%;
  position: relative;
}

.cell1, .cell3 { height: 100vh; }
.cell1, .cell2, .cell3 { position: relative; }

.grid.one {
  grid-template-columns: 1fr;
}

.grid.one .cell2, .grid.one .cell3 { display: none; }

.grid.two2 { grid-template-columns: 1fr 7fr;}

.grid.two {
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.grid.two .cell3 {
  display: none;
}

.grid.three {
  grid-template-columns: 3fr 3fr 3fr;
}

.grid.layout {
  grid-template-columns: 1fr 3fr auto; 
}

.w-1_2 > div > input {
  width: 50%;
}

.pattern-option{ display: flex; }
.pattern-option > div { margin-right: 4px;}
.pattern-option > select{ width: 100%; }

.pattern-grid-wrapper { position: relative;}

.grid-overlay {
  position: absolute;
  pointer-events: none;
  opacity: 0.5;
  margin-top: 20px;
  top: 0;
  background-image:
      repeating-linear-gradient(rgb(224, 224, 224) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(224, 224, 224) 0 1px, transparent 1px 100%);
  background-size: 7.22px 15.1px;
}

.grid-pattern-width, .pattern-canvas-cropped {
  width: 200px;
  height: 200px;
  background-size: 19.22px 38px;
}

.available-area {
  width: 200px;
  height: 200px;
  background-size: 19.22px 39px;
  margin-top: 0;
}

.grid-pattern-width {
  margin-top: 0;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 219" preserveAspectRatio="none"><rect width="153.76" height="128" style="fill:rgb(0,0,0);" /></svg>') 0/100% 100%,
    linear-gradient(#fff,#fff);
  -webkit-mask-composite:destination-out;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 219" preserveAspectRatio="none"><rect width="153.76" height="128" style="fill:rgb(0,0,0);" /></svg>') 0/100% 100%,
    linear-gradient(#fff,#fff);
  mask-composite:exclude;  
  background:rgb(0, 0, 0);
}


/* -------------------------------------------------- */
/* --------------- SPECIFIC SETTING ----------------- */

.pattern-canvas-cropped { 
  overflow: hidden;
  margin-top: 20px;
  width: 192px;
  height: 192px;
  position: relative;
  border: 5px solid white;
  border-radius: 12px;
}

.pattern-canvas-cropped > canvas { transform: translateX(-3px); margin-top: 0 !important;}

.download-group { width: 100%;  padding-bottom: 6rem;}
.download-group > select {  padding: 4px; width: 100%; }

.char-table-wrapper { display: flex; flex-direction: column; align-items: initial !important;}

.char-group-wrapper {     
  background: white;
  border-radius: 4px;
  padding: 4px 10px;
  margin-bottom: 1rem;
}

.char-group-wrapper > p { text-decoration: underline; cursor: pointer; user-select: none;}
.char-group-wrapper > p:hover { text-decoration: none;}

.chars-numerals { padding-bottom: 3rem;}
.chars-letters { padding-bottom: 8rem;}
.chars-lines { padding-bottom: 15rem;}
.chars-blocks { padding-bottom: 6rem;}
.chars-symbols { padding-bottom: 20rem;}

.control-status { 
  justify-content: center; 
  display: flex; 
  align-items: center;
  background-color: gainsboro;
  border-radius: 16px;
  padding: 3px 15px;
  margin-left: auto;
}
.control-status > svg { width: 10px; height: 10px; margin-left: 8px;}

/* ---------------------------------------- */
/* ----------- MENU CONTAINER ------------- */

.menu {
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  opacity: 0;
  transition: 600ms;
  padding: 20px;
  height: calc(100vh - 40px);
}

.menu-flex-overflow-wrapper {
  height: calc(100vh - 40px);
  width: 100%;
  overflow: hidden;
}

.menu-overflow-scroll-wrapper {
  width: calc(100% + 15px);
  overflow-y: scroll;
  height: 100%;
}

.menu-flex {
  display: flex;
  flex-direction: column;
  font-weight: initial;
  font-family: 'JetBrainsMono Nerd Font Mono', 'Noto Sans Thai';
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 2rem;
  padding-right: 4rem;
  height: 100%;
  padding-bottom: 1rem;
}

.menu-flex a {
  color: inherit;
  text-decoration: underline;
}

.menu-flex:last-child {
  box-sizing: border-box;
}

.menu__wrapper>div {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.menu__wrapper>div>span {
  margin-right: 8px;
}

.menu__wrapper>div>p {
  background-color: gainsboro;
  border-radius: 16px;
  padding: 3px 15px;
  margin-left: auto;
}

.menu__wrapper strong {
  font-weight: bolder;
  background-color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 4px;
  margin-right: 0.5rem;
  text-decoration: none;
  line-height: 20px;
}

.action-button {
  cursor: pointer;
  width: 100%;
}

.action-button:hover {
  text-decoration: underline;
}

/* ---------------------------------------- */
/* ---------------- MENU ------------------ */
.menu__info { 
  width: 100%;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 200ms;
}
.menu__info > button, .menu__info > div > button  { padding: 0.5rem; margin-top: 0.5rem;}
.menu__info .input-size { width: 50%; display: flex; }
.menu__info > div { width: 100%; }

/* ---------------------------------------- */
/* --------------MENU-ITEMS--------------- */

.control-detail-box {  padding-bottom: 8rem; }

.pattern-form { padding-bottom: 16rem; }

.generator-form { padding-bottom: 24rem; }
.generator-form input {
  color: black;
  width: 100%;
  padding: 4px;
}

/* ---------------------------------------- */
/* ------------------ SETTING-------------- */
.setting {
  width: 100%;
  padding-bottom: 7rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
}

.input-size input {
  padding: 8px;
  width: 80%;
}

.setting-btn>button {
  padding: 8px;
  margin-right: 8px;
}

.setting-btn {
  display: flex;
  margin-top: 1.5rem;
}

.setting-size-input {
  margin-bottom: 8px;
  display: flex;
}

.setting-size-input>div {
  margin-right: 4px;
}

.grid-canvas-width {
  width: 500px;
  height: 700px;
}
/* ---------------------------------------- */
/* -------------- CHAR TABLE--------------- */
.char-table {
  width: 100%;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
  margin-bottom: 10px;
}

.char-table-wrapper {
  margin-left: 2rem;
  height: fit-content;
  overflow: hidden;
}

.char-table p {
  padding: 0px 4px;
  cursor: pointer;
  user-select: none;
}

.char-table p:hover {
  background-color: rgba(103, 103, 103, 0.5);
}

.usage strong[data-usage] {
  background-color: black;
  color: white;
}
/* ---------------------------------------- */
/* ----------------- ABOUT ---------------- */

.about {
  width: 100%;
  padding-bottom: 20rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
  margin-top: 0.5rem;
}

.about>div>a {
  text-decoration: underline;
  width: fit-content;
  font-weight: bolder;
}

.about>div>a:hover {
  text-decoration: none;
}

/* ---------------------------------------- */
/* -----------------ID--------------------- */

#charlist-title { cursor: pointer; user-select: none; }
#generate, #resize-canvas { background-color: black; color: white; }
#download { background-color: black; color: white; }
#fontname { width: 100%; padding: 4px; }
#setting, #about-section { cursor: pointer; user-select: none; }
#current-char { user-select: none;}
#pattern-canvas-overlay-area { position: absolute; top: 0; left: 0; }

/* ---------------------------------------- */
/* --------------- TEXT DECO ------------- */
.fontname {
  margin-top: 0.25rem;
  width: 100%;
}

.selected-color {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: auto;
  cursor: pointer;
}

.text-color {
  background-color: #000000;
}

.bg-color {
  background-color: #fff;
}

.current-char {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* ---------------------------------------- */
/* ---------------- STATE ----------------- */

.clickable { cursor: pointer;}
.clickable:hover { background-color: rgb(255, 255, 255); }
.collapse { padding-bottom: 0; margin: 0; }
.hidden { visibility: hidden; }
.collapse-h-full { height: 0;}
.ready { opacity: 1; }

/* ---------------------------------------- */