* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: bolder;
}

body {
  background-color: rgb(242 242 242);
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  border: 0.5px solid #a4a4a4;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

canvas#output,
pre#output {
  font-family: 'JetBrainsMono Nerd Font Mono';
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: none;
  margin-top: 20px;
  font-size: 12px;
  position: relative;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

.icon {
  width: 45px;
  margin-right: 0.5rem;
}

.icon-title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.mb-4 {
  margin-bottom: 1rem;
}

.picker {
  display: inline-block;
  position: absolute;
  z-index: 99;
  transform: translateY(20px);
  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}

.hide {
  display: none;
}

/* -- main grid layout ---------------------------------------------- */

.grid {
  display: grid;
  width: 100%;
  position: relative;
}

.cell1,
.cell3 {
  height: 100vh;
}

.cell1,
.cell2,
.cell3 {
  position: relative;
}

.cell1 {
  /* width: 30%; */
}

.cell2 {
  /* width: 80%; */
}

.grid.one {
  grid-template-columns: 1fr;
}

.grid.one .cell2,
.grid.one .cell3 {
  display: none;
}

.grid.two {
  grid-template-columns: 1fr 1fr;
}

.grid.two .cell3 {
  display: none;
}

.grid.three {
  grid-template-columns: 1fr 3fr auto;
}

/* -- menu ---------------------------------------------------------- */

.menu {
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  opacity: 0;
  transition: 200ms;
  padding: 20px;
  height: calc(100vh - 40px);
  /* padding: 0 1ch 0  1ch; */
  /* overflow-y: scroll; */
  /* border-left: 1px solid #222222; */
}

.menu-flex-overflow-wrapper {
  height: calc(100vh - 40px);
  width: 100%;
  /* width: calc(100% + 35px); */
  overflow: hidden;
  /* background-color: beige; */
}

.menu-overflow-scroll-wrapper {
  width: calc(100% + 15px);
  overflow-y: scroll;
  height: 100%;
}

.menu-flex {
  display: flex;
  flex-direction: column;
  font-weight: initial;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 2rem;
  padding-right: 4rem;
  height: 100%;
  padding-bottom: 1rem;
}

.menu-flex:last-child {
  box-sizing: border-box;
}

.usage>div {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.usage>div>span {
  margin-right: 8px;
}

.usage>div>p {
  background-color: gainsboro;
  border-radius: 16px;
  padding: 3px 15px;
  margin-left: auto;
}

.usage strong {
  font-weight: bolder;
  background-color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  border-radius: 4px;
  margin-right: 0.5rem;
  text-decoration: none;
  line-height: 20px;
}

.level2,
.hotkey {
  color: #666;
}

.action-button {
  cursor: pointer;
  width: 100%;
}

.action-button:hover {
  text-decoration: underline;
}

.row-wrap {
  display: contents;
}

.program-cathegory {
  color: #666;
  padding-left: 2ch;
  display: block;
}

.project-grid a {
  color: pink !important;
  padding-left: 4ch;
}

.menu-flex a {
  color: inherit;
  text-decoration: underline;
}

/* -------------- form ---------- */
.generator-form {
  margin-top: 1rem;
  width: 100%;
  padding-bottom: 25rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
}

.generator-form input {
  color: black;
  width: 100%;
  padding: 4px;
}

.generator-form button {
  color: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.generator-form .input-size {
  width: 50%;
  display: flex;
}

/* ---------- setting------- */
.setting {
  width: 100%;
  padding-bottom: 7rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
  margin-top: 0.5rem;
}

.input-size input {
  padding: 8px;
  width: 80%;
}

.setting-btn>button {
  padding: 8px;
  margin-right: 8px;
}

.setting-btn {
  display: flex;
  margin-top: 1.5rem;
}

.setting-size-input {
  margin-bottom: 8px;
  display: flex;
}

.setting-size-input>div {
  margin-right: 4px;
}

/* ----------char table---------- */
.char-table {
  width: 100%;
  padding-bottom: 33rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
  margin-top: 0.5rem;
}

.ready {
  opacity: 1;
}

.char-table p {
  padding: 0px 4px;
  cursor: pointer;
  user-select: none;
}

.char-table p:hover {
  background-color: rgba(103, 103, 103, 0.5);
}

.usage strong[data-usage] {
  background-color: black;
  color: white;
}

/* ---------- about ----------- */

.about {
  width: 100%;
  padding-bottom: 20rem;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: 200ms;
  margin-top: 0.5rem;
}

.about>div>a {
  text-decoration: underline;
  width: fit-content;
  font-weight: bolder;
}

.about>div>a:hover {
  text-decoration: none;
}

/* ------id------------------- */

#charlist-title {
  cursor: pointer;
  user-select: none;
}

#generate,
#resize-canvas {
  /* background-color: #00cc55; */
  background-color: black;
  color: white;
}

#reset {
  /* background-color: #ff8b50; */
  /* background-color: #c9c9c9; */
}

#download {
  background-color: white;
}

#fontname {
  width: 100%;
  padding: 4px;
  margin-bottom: 1rem;
}

#generator-title,
#setting,
#about-section {
  cursor: pointer;
  user-select: none;
}

#generator-title:hover {
  text-decoration: underline;
}

.fontname {
  margin-top: 0.25rem;
  width: 100%;
}

.collapse {
  padding-bottom: 0;
  margin: 0;
}

.selected-color {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: auto;
  cursor: pointer;
}

.text-color {
  background-color: #000000;
}

.bg-color {
  background-color: #fff;
}

.hidden {
  visibility: hidden;
}